# [作業目標]

1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```


2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

# 作業

### 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

In [ ]:
'''
df.loc[ '2013-01-01', 'A']
單一值

df.loc[ '2013-01-01', ['A', 'B'] ] 
一維資料pandas.Series

df.loc[ '2013-01-01':'2013-01-02', 'A' ]
一維資料pandas.Series 

df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
二維資料pandas.DateFrame
'''

### 2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

In [1]:
# 記得先 Import 正確的套件

import numpy as np
import pandas as pd

In [6]:
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df

       col1      col2      col3
0 -0.491811  0.479125  0.417600
1  0.668650  0.635269 -1.449065
2  0.113679  1.018226 -0.032451
3  0.539162 -1.822931 -2.494993
4 -1.615412  0.169900 -0.348687
5  0.766908  0.148906  1.115276

In [18]:
print(df[0:3])
print(df.head(3))

       col1      col2      col3
0 -0.491811  0.479125  0.417600
1  0.668650  0.635269 -1.449065
2  0.113679  1.018226 -0.032451
       col1      col2      col3
0 -0.491811  0.479125  0.417600
1  0.668650  0.635269 -1.449065
2  0.113679  1.018226 -0.032451

In [19]:
print(df[1::2])
print(df[df.index % 2 == 1])

       col1      col2      col3
1  0.668650  0.635269 -1.449065
3  0.539162 -1.822931 -2.494993
5  0.766908  0.148906  1.115276
       col1      col2      col3
1  0.668650  0.635269 -1.449065
3  0.539162 -1.822931 -2.494993
5  0.766908  0.148906  1.115276

In [22]:
print(df.iloc[:,-2:])
print(df[['col2','col3']])

       col2      col3
0  0.479125  0.417600
1  0.635269 -1.449065
2  1.018226 -0.032451
3 -1.822931 -2.494993
4  0.169900 -0.348687
5  0.148906  1.115276
       col2      col3
0  0.479125  0.417600
1  0.635269 -1.449065
2  1.018226 -0.032451
3 -1.822931 -2.494993
4  0.169900 -0.348687
5  0.148906  1.115276

In [30]:
print(df.iloc[::2, :])

       col1      col2      col3
0 -0.491811  0.479125  0.417600
2  0.113679  1.018226 -0.032451
4 -1.615412  0.169900 -0.348687

### 3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [36]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df

     0   1   2   3
0   34  24  23  36
1   14  32  23  32
2   30  36  33  32
3   25  29  11  36
4   12  27  26  16
5   38  27  12  15
6   24  24  10  35
7   34  15  15  24
8   21  21  17  30
9   35  34  38  24
10  38  17  39  24
11  18  11  13  13
12  21  10  33  24
13  11  38  39  36
14  10  26  34  35

In [51]:
print(df[df.iloc[:,0]>20])

     0   1   2   3
0   34  24  23  36
2   30  36  33  32
3   25  29  11  36
5   38  27  12  15
6   24  24  10  35
7   34  15  15  24
8   21  21  17  30
9   35  34  38  24
10  38  17  39  24
12  21  10  33  24

In [ ]:
print(df[df.iloc[:,0]+ df.iloc[:,1] > 50] )

     0   1   2   3
0   34  24  23  36
2   30  36  33  32
3   25  29  11  36
5   38  27  12  15
9   35  34  38  24
10  38  17  39  24

In [71]:
print(df[(df.iloc[:,0] < 30) | (df.iloc[:,1] > 30)] )

     0   1   2   3
1   14  32  23  32
2   30  36  33  32
3   25  29  11  36
4   12  27  26  16
6   24  24  10  35
8   21  21  17  30
9   35  34  38  24
11  18  11  13  13
12  21  10  33  24
13  11  38  39  36
14  10  26  34  35

In [66]:
print(df[df.sum(axis=1)>100])

     0   1   2   3
0   34  24  23  36
1   14  32  23  32
2   30  36  33  32
3   25  29  11  36
9   35  34  38  24
10  38  17  39  24
13  11  38  39  36
14  10  26  34  35